# Ignoring OS Pollution
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Ignoring Python Pollution
*.pyc
*.log

# Ignoring Bower Pollution
.bower.json

# Ignore Eclipse project files
.pydevproject
.project

# ignore vagrant working dir
.vagrant
