<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="format-detection" content="telephone=no" />
        <!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
        <link rel="stylesheet" type="text/css" href="css/index.css" />
        <meta name="msapplication-tap-highlight" content="no" />
        <title>TinkerMill MMS</title>
        
        <!-- Including the polymer parts -->
        <script src="../static/js/polymer/platform/platform.js"></script>
        <link rel="import" href="../static/js/polymer/polymer/polymer.html">
        <link rel="import" href="../static/js/polymer/core-elements/core-elements.html" />
        <link rel="import" href="../static/js/polymer/paper-elements/paper-elements.html" />
        
        <!-- Custom polymer elements -->
        <link rel="import" href="../static/js/polymer/tinkermill/app-mms.html" />
        
        <style>
            html, body {
              height: 100%;
              margin: 0;
              background-color: #E5E5E5;
              font-family: sans-serif;
            }
        </style>
    </head>
    
    <body unresolved>
        <app-mms></app-mms>
    </body>
</html>
